.wrapper {
  display: flex;
  flex-direction: column;

  .btnBack {
    margin: 4rem 0;
  }
}

.country {
  display: flex;

  .flag {
    width: 50%;
    height: 50%;
    box-shadow: var(--shadow);
  }

  .countryInformation {
    margin: 2rem 5rem;

    .title {
      font-weight: var(--fw-bold);
      font-size: 1.75rem;
      margin-bottom: 1rem;
    }

    .border {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 1rem;

      .borderBtn  {
        color: var(--font-color);
        text-decoration: none;
      }
    }
  }
}
