.countries {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: space-between;
}

@media (max-width: 1170px) {
  .countries {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
  }
}

@media (max-width: 870px) {
  .countries {
    justify-content: space-around;
  }
}

@media (max-width: 580px) {
  .countries {
    justify-content: center;
  }
}
