.countries {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: space-between;
}

@media (max-width: 1170px) {
  .countries {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 870px) {
  .countries {
    grid-template-columns: repeat(2, auto);
    justify-content: space-around;
  }
}

@media (max-width: 580px) {
  .countries {
    grid-template-columns: repeat(1, auto);
    justify-content: center;
  }
}
