body[data-theme = 'dark'] {
  --font-color: hsl(0, 0%, 100%);
  --bg-color: hsl(207, 26%, 17%);
  --bg-color-hover: hsl(209, 24%, 29%);
  --primary--color: hsl(209, 23%, 22%);
  --input-color: hsl(0, 0%, 100%);
}
