body[data-theme = 'light'] {
  --font-color: hsl(200, 15%, 8%);
  --bg-color: hsl(0, 0%, 98%);
  --bg-color-hover: hsl(0, 3%, 94%);
  --primary--color: hsl(0, 0%, 100%);
  --input-color: hsl(0, 0%, 52%);
}
