.header {
  height: 80px;
  background: var(--primary--color);
  display: flex;
  align-items: center;
  box-shadow: var(--shadow);
  width: 100%;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .title {
      color: var(--font-color);
      text-decoration: none;
    }

    .themeSwitcher {
      cursor: pointer;
      display: flex;
      gap: 0.5rem;
    }
  }
}