.header {
  height: 80px;
  background: var(--primary--color);
  display: flex;
  align-items: center;
  box-shadow: var(--shadow);
  width: 100%;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .title {
      color: var(--font-color);
      text-decoration: none;
    }

    .themeSwitcher {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
    }
  }
}

@media (max-width: 580px) {
  .header {
    .wrapper {
      align-items: baseline;
      .title {
        font-weight: var(--fw-bold);
        font-size: 1rem
      }

      .themeSwitcher {
        gap: 1rem;
        font-size: var(--fs-small);
      }
    }
  }
}