.wrapper {
  display: flex;
  flex-direction: column;

  .btnBack {
    margin: 4rem 0;
  }
}

.country {
  display: flex;

  .flag {
    width: 50%;
    height: 50%;
    box-shadow: var(--shadow);
  }

  .countryInformation {
    margin: 0 4rem;

    .lists {
      display: flex;
      gap: 2rem
    }

    .list {
      list-style: none;

      .listItem {
        margin-top: 0.75rem;

        span {
          font-weight: var(--fw-light);
        }
      }
    }

    .title {
      font-weight: var(--fw-bold);
      font-size: 1.75rem;
      margin-bottom: 1rem;
    }

    .border {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 0.5rem;
      margin-top: 4rem;

      div {
        font-weight: var(--fw-light);
      }

      .borderBtn {
        color: var(--font-color);
        text-decoration: none;
      }
    }
  }
}
