@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-family: 'Nunito Sans', sans-serif;
  --fs-small: 14px;
  --fs-medium: 14px;
  --fw-light: 300;
  --fw-normal: 600;
  --fw-bold: 800;
  --shadow: 2px 2px 8px 0 rgba(5, 5, 6, 0.2);
  --radius: 5px;
}

body[data-theme = 'dark'] {
  --font-color: hsl(0, 0%, 100%);
  --bg-color: hsl(207, 26%, 17%);
  --bg-color-hover: hsl(209, 24%, 29%);
  --primary--color: hsl(209, 23%, 22%);
  --input-color: hsl(0, 0%, 100%);
}

body[data-theme = 'light'] {
  --font-color: hsl(200, 15%, 8%);
  --bg-color: hsl(0, 0%, 98%);
  --bg-color-hover: hsl(0, 3%, 94%);
  --primary--color: hsl(0, 0%, 100%);
  --input-color: hsl(0, 0%, 52%);
}

body {
  font-family: var(--font-family);
  color: var(--font-color);
  background: var(--bg-color);
  font-size: var(--fs-small);
  font-weight: var(--fw-normal);
}